@import "../fonts.css";

.book {
  position: relative;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
}

@media only screen and (max-width: 1249px) {
  .book {
    top: 10vh;
  }
  .book img {
    height: 35vmin;
  }
  .bookPage {
    height: 70vmin;
    width: 50vmin;
  }
  .bookCover{
    height: 70vmin;
    width: 50vmin;
  }
}

@media only screen and (min-width: 1250px) {
  .book img {
    max-height: 600px;
    height: 50vmin;
    transition-duration: 2s;
    /* z-index: 1; */
  }
  .bookPage {
    height: 90vmin;
    width: 70vmin;
  }
  .bookCover{
    height: 90vmin;
    width: 70vmin;
  }
}

.bookCover {
  display: grid;
  overflow: hidden;
  background-color: tomato;
  border-right: 4px solid rgb(209, 82, 59);
  border-inline-start: 4px solid rgb(209, 82, 59);
  top: 5vh;
  position: absolute;
  /* z-index: ; */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 2s;
  -moz-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}

.bookCover h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  /* font-size: 8vmin; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bookCover img {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: auto;
  margin-right: auto;
}

.bookCover.closed {
  transform: rotateY(0turn);
}

.bookCover.open {
  transform: rotateY(0.5turn);
}

@keyframes flip {
  from {
    transform: rotateY(0.5turn);
  }
  to {
    transform: rotateY(0turn);
  }
}

.bookPage {
  overflow: hidden;
  background-color: beige;
  border-right: 1px solid rgb(233, 233, 212);
  border-inline-start: 1px solid rgb(216, 216, 200);
  top: 5vh;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 2s;
  -moz-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}

.bookPage img {
  transition-duration: 2s;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 2.5%;
  /* right: auto; */
}

.bookPage p {
  position: absolute;
  /* z-index: 2; */
  text-align: left;
  margin: 0 0 0 5vmin;
  font-size: 2vmin;
  top: 67.5%;
}

#promptHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptMessage {
  font-size: 10vmin;
  position: absolute;
  text-shadow: 2px 2px black;
  top: 35vh;
  z-index: 3;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@media only screen and (max-width: 509px) {
  .promptMessage {
    animation-name: bounce-small;
  }
}

@media only screen and (min-width: 510px) {
  .promptMessage {
    animation-name: bounce-large;
  }
}

@keyframes bounce-large {
  from {
    font-size: 2.8em;
    color: goldenrod;
  }
  to {
    font-size: 2.5em;
    color: gold;
  }
}

@keyframes bounce-small {
  from {
    font-size: 2.5em;
    color: goldenrod;
  }
  to {
    font-size: 2em;
    color: gold;
  }
}