:root {
  overflow: hidden;
}

.App-body {
  background: url("./assets/wood.png") top repeat ;
  min-height: 100vh;
  min-width: 100vw;
  /* top: -10vh; */
  position: relative;
}

body button {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0px;
  /* top */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
